'global':
  'recent-files':
    'updated': false
  'core':
    'disabledPackages': [
      'symbols-view'
    ]
  'exception-reporting':
    'userId': '37bee979-1563-d09c-5512-73fcee34ce0a'
  'welcome':
    'showOnStartup': false
  'editor':
    'fontSize': 12
    'showIndentGuide': true
    'showInvisibles': true
  'linter': {}
