"*":
  "recent-files":
    updated: false
  core:
    disabledPackages: [
      "symbols-view"
      "tabs"
      "tree-view"
      "atom-lint"
      "autocomplete-plus"
    ]
    themes: [
      "atom-dark-ui"
      "solarized-dark-syntax"
    ]
  "exception-reporting":
    userId: "37bee979-1563-d09c-5512-73fcee34ce0a"
  welcome:
    showOnStartup: false
  editor:
    showInvisibles: true
    showIndentGuide: true
    invisibles:
      space: " "
    fontFamily: "\"Ricty\""
    fontSize: 19
  linter: {}
  tabs:
    showIcons: true
  "tree-view":
    hideVcsIgnoredFiles: false
    hideIgnoredNames: false
    showOnRightSide: false
  "vim-surround": {}
  "linter-write-good": {}
  "autocomplete-plus":
    navigateCompletions: "ctrl-p,ctrl-n"
  "linter-puppet-lint":
    puppetLintArguments: "--no-80chars-check"
  "vim-mode":
    useClipboardAsDefaultRegister: true
